menu "Lumenaries/http"

    config LUM_HTTP_MAX_COOKIE_SIZE
        int "Maximum size of largest cookie"
        default 512
        help
            The size of the buffer used to fetch the cookie. Too small of a buffer
            will lead to the cookie being truncated.

endmenu
